.fullscreen {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.video-wrapper {
    width: 1020px;
}

.video-controls-wrapper {
    position: relative;
    top: -52px;
    .progress-bar-container {
        border-radius: 22px;
    }
    .ui-video-seek-slider .thumb {
        pointer-events: none;
        position: absolute;
        width: 15px;
        height: 15px;
        left: 0px;
        top: 3px;
        z-index: 4;
        transform: unset;
        transition: left 0.1s;
    }
    .ui-video-seek-slider .track .main .connect {
        position: absolute;
        background-color: #151616;
        width: calc(100% - 14px);
        height: 100%;
        z-index: 3;
        left: 7px;
        transform: scaleX(0);
        transform-origin: 0 0;
    }

    .thumb.active .handler {
        border: 1px solid #fff;
        background-color: #151616;
    }

    .ui-video-seek-slider {
        background-color: rgba(255, 255, 255, 0.41);
        border-radius: 45px;
    }

    .ui-video-seek-slider .thumb .handler {
        transition: transform 0.2s;
        border-radius: 100%;
        width: 100%;
        height: 100%;
        background-color: #151616;
        opacity: 1;
        transform: scale(1);
    }
    .ui-video-seek-slider .track .main {
        background-color: transparent;
    }
}

.video-controls {
    opacity: 0.6;
    background-color: #232424;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.21);
    border-radius: 31px;
    display: flex;
    justify-content: space-between;
    padding: 7px 12px;
    .play-button.MuiButton-root {
        width: 40px;
        min-width: 40px;
        border-radius: 71px;
        height: 20px;
    }
    .seek-button.MuiButton-root {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        min-width: 20px;
        padding: 2px;
        img {
            padding: 2px 3px 2px 3px;
            width: 20px;
        }
    }
    .seek-forward {
        transform: rotate(180deg);
    }
    .double-seek.seek-button.MuiButton-root {
        img {
            padding: 0px 2px 0px 1px;
            width: 20px;
        }
    }
    .MuiButton-root {
        margin: 0 7px;
    }
    .video-time {
        display: inline-block;
    }
    .fullscreen-button.MuiButton-root {
        border-radius: 71px;
        height: 20px;
        min-width: 40px;
        width: 40px;
        padding: 2px;
        margin-right: 0;
    }
}

.apexcharts-canvas > svg {
    border-radius: 0 0 45px 45px;
}

.chart-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: -39px;
    border-radius: 45px;
    > div {
        width: 100%;
    }
}

.MuiAppBar-positionFixed {
    top: -17px;
    left: auto;
    right: 0;
    position: relative;
}

.charts-panel-wrapper {
    .app-bar {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    .MuiTabs-root {
        min-height: 0;
    }
    .MuiTab-textColorInherit {
        opacity: 1;
        height: 30px;
        width: 154px;
        border-radius: 20px 20px 0 0;
        background-color: #2f3031;
        text-transform: none;
        color: #fff;
        font-family: "OpenSans-Light";
        font-size: 16px;
        font-weight: 300;
        line-height: 22px;
        text-align: center;
        min-height: 0;
    }
    .MuiTab-textColorInherit:nth-child(2) {
        margin: 0 2px;
    }
    .MuiTab-textColorInherit.Mui-selected {
        background-color: #232424;
    }
    .MuiTabs-indicator {
        display: none;
    }
    .MuiPaper-elevation4 {
        box-shadow: none;
    }
    .MuiTab-root.Mui-disabled {
        color: #ffffff44;
    }
    .apexcharts-legend {
        margin-top: 30px;
        display: none;
    }
    #waveform {
        position: relative;
        top: -25px;
        border-radius: 0 0 25px 25px;
    }
    #waveform-timeline {
        position: relative;
        top: -43px;
        width: 100%;
        z-index: 99;
    }
    .App {
        height: 166px;
    }
}
