.login-main {
    height: 100vh;
.MuiInputBase-input{
    color: #fff;
}
.MuiOutlinedInput-notchedOutline{
    border-color: #fff;
}
.btn-submit{
    background-color: #2F3031;
    color: #fff;
    
}
}




